[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"

[dev-packages]
"autopep8" = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
"flake8-per-file-ignores" = "*"
mypy = "*"
pytest = "*"
rope = "*"
ipdb = "*"

[requires]
python_version = "3.7"
